body {
	margin: 0px;
	padding: 5px;
	height: 100%
}
/*整个容器*/
#container {
	margin: 0 auto;
	width: 94%;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	max-width: 960px;
	color: #898989;
}
/*顶部*/
header {
	width: 90%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin-top: 20px;
}
header #back_img {
	
}
header span{
	display: inline-block;
	width: 80%;
	text-align: center;
	color: #595757;
	vertical-align: baseline;
	font-size: 1.4rem;
}
header #items_img {
}
/*logo*/
#logo_part {
	margin:30px;
	color: #595757;
	width: 70%;
	font-size: 1.2em;
	text-align: center;
}
#logo_part img {
	display: block;
	width: 25%;
	margin:0 auto;
}
/*输入区域*/
#ipt_part {
	margin:10px;
	color: #595757;
	width: 70%;	
}
#ipt_part img {
	width: 8%;
}
#ipt_part input {
	color: #898989;
	font-size: 140%;
	vertical-align: bottom;
	padding: 3px 0px;
}
#ipt_user {
	margin: 40px 0px;
}
#ipt_user #user {
	border: none;   /*去掉边框*/
	outline: none;
	width: 80%;
}
#ipt_password {
	margin: 40px 0px;
}
#ipt_password #password {
	border: none;
	outline: none;
	width: 80%;
}
/*login button*/
#login {
	width: 70%;
}
#login img{
	width: 100%;
}
#forget_password {
	color: #898989;
	margin-top:20px;
}
footer {
	margin-top:70px;
}
footer a {
	color: #898989;
	text-decoration: none;
}